---
import { getCollection } from 'astro:content'
import Layout from '~/layouts/Layout.astro'
import NoImage from '~/components/posts/layouts/NoImage.astro'
import Horizontal from '~/components/posts/layouts/Horizontal.astro'
import Vertical from '~/components/posts/layouts/Vertical.astro'
import PostNavigation from '~/components/posts/base/PostNavigation.astro'
import PostFeatures from '~/components/posts/toc/PostFeatures.astro'
import type { Locale } from '~/i18n'

export async function getStaticPaths() {
  const allPosts = (await getCollection('posts')).filter((post) => !post.data.draft)

  return ['fr', 'en'].flatMap((lang) => {
    const langPosts = allPosts
      .filter((post) => post.data.lang === lang)
      .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime())

    return langPosts.map((post, index) => ({
      params: { lang, slug: post.slug },
      props: {
        post,
        posts: langPosts,
        next: index + 1 < langPosts.length ? langPosts[index + 1] : null,
        prev: index > 0 ? langPosts[index - 1] : null,
        lang,
      },
    }))
  })
}


const { post, posts, prev, next } = Astro.props
const lang = Astro.props.lang as Locale
const { data: frontmatter } = post
const { Content, headings, remarkPluginFrontmatter } = await post.render()

const hasValidHeadings = headings.length > 1
const hasImage = !!frontmatter.heroImage
const isVertical = frontmatter.heroImageAspectRatio === '3/4'

const layoutMap = {
  'no-image': NoImage,
  'vertical': Vertical,
  'horizontal': Horizontal,
}
const layoutKey = !hasImage ? 'no-image' : isVertical ? 'vertical' : 'horizontal'
const PostLayout = layoutMap[layoutKey]
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description || frontmatter.title}
  image={frontmatter.ogImage}
>
  <div class="fullPage relative flex flex-col justify-between">
    <PostLayout {frontmatter} minutesRead={remarkPluginFrontmatter.minutesRead} lang={lang}>
      <Content />
    </PostLayout>
    <div class="px-6 sm:px-8 pb-6 sm:pb-8">
      {posts.length > 1 && <PostNavigation {prev} {next} lang={lang} />}
    </div>
    {hasValidHeadings && <PostFeatures {post} {posts} {headings} lang={lang} />}
  </div>
</Layout>
